:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #ffffa8;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* border radius*/
  --border-radius: 4px;
  /*border*/
  --border-: 1px solid var(--color-white);
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}
* {
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: black;
}
button {
  outline: none;
  border: 4px solid black;
  cursor: pointer;
  background-color: var(--color-yellow);
  font-size: 24px;
  width: 60px;
  height: 60px;
}
.game {
  width: 800px;
  height: 500px;
  background: center/cover url(img/background.png);
  display: flex;
  flex-direction: column;
  margin: auto;
}
.game__header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game__timer {
  background-color: white;
  color: var(--color-black);
  border: 3px solid black;
  border-radius: 10px;
  font-size: 32px;
  margin: 10px;
  padding: 0 20px;
}
.game__score {
  text-align: center;
  background-color: var(--color-dark-pink);
  width: 50px;
  height: 50px;
  font-size: 35px;
  border-radius: 50%;
  border: 3px solid black;
  color: white;
}
.game__filed {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 30px;
  margin: auto;
}

.popup {
  width: 400px;
  height: 140px;
  padding: 20px;
  background-color: #00000090;
  color: white;
  text-align: center;
  margin: auto;
  transform: translateY(-150%);

  border-radius: 20px;
}

.popup__replay {
  font-size: 24px;
  border-radius: 50%;
  border: 3px solid black;
}
.popup__result {
  display: block;
  font-size: 32px;
}
