/*display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
 overflow: hidden; */

/* 반응형 웹에서 문단 줄이기 */

/* window +. : 이모티콘 단축키 */

flex-grow: 1;
/* //알아서 box의 크기를 맞춰준다. */
width: 100%;
height: 100%;
/*img의 크기가 너무 클 때 정해진 구역을 넘어가지 말라고 하는거 */

line-height: 170px;

flex-basis: 40%; // 박스의 비율 정하기
