* {
  font-family: "Antonio", sans-serif;
}

body {
  background-color: black;
  height: 100vh;
}

i {
  cursor: pointer;
}

.shoppingList {
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(238, 177, 232, 0.9943100995732574) 28%,
    rgba(180, 171, 236, 1) 59%,
    rgb(150, 187, 231) 82%
  );
  width: 600px;
  height: 700px;
  margin: auto;
  text-align: center;
}

.header__shopping {
  padding: 10px;
  color: white;
  font-size: 30px;
}
.shopping {
  background-color: #eeeeee;
  margin: 0;
  padding: 10px 20px;
  height: 70%;
  list-style: none;
}
.nav__shopping {
  display: flex;
  flex-direction: column;
  font-size: 50px;
}
.shopping__list-box {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 10px;
}
.input__shopping {
  height: 30px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.shopping__btn-trash {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
.shopping__btn-trash:hover {
  color: tomato;
}
.shopping__plus:hover {
  transform: scale(1.1);
}
.shopping__plus {
  margin: auto;
  transition: transform 300ms ease;
}
