:root {
  /* color */
  --skyblue-color: #64b5f6;
  --lightpink-color: #ff80ab;
  --lightgreen-color: #81c784;
  --drakwhite-color: #eeeeee;
  /* font-size */
  --large-font: 18px;
  --medium-font: 14px;
  --small-font: 10px;
  /* border */
  --border-bold: 3px solid black;
}

* {
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 100vh;
  background-color: teal;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  border: var(--border-bold);
}
.game__bg {
  display: flex;
  background: center/cover no-repeat url(img/background.png);
  margin: auto;
  width: 1400px;
  height: 800px;
}

.wally-game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  height: auto;
  background-color: whitesmoke;
  border-radius: 40px;
  padding: 15px;
}
.game__stage {
  font-size: 70px;
}
.game__info,
.game__start {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: cornflowerblue;
  font-size: 50px;
}
.toggle__close {
  width: 100px;
  height: 30px;
  font-size: 20px;
  background-color: transparent;
  transform: translate(600px, 10px);
}
.toggle__close:hover {
  background-color: wheat;
}
.toggle__game {
  text-align: start;
  background-color: tomato;
  width: 800px;
  height: 500px;
  border-radius: 50px;
  border: var(--border-bold);
  padding-left: 20px;
  position: relative;
}

.wally-girl {
  width: 70px;
  height: 70px;
}
.wally {
  width: 70px;
  height: 70px;
}
