body {
  background-color: black;
  text-align: center;
}

button {
  cursor: pointer;
  outline: none;
  background-color: rgb(238, 206, 65);
}

header {
  margin: 50px 0;
}
.game {
  width: 1000px;
  height: 800px;
  background: center/cover no-repeat url(img/background.png);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game__button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  border: 3px solid black;
}
.game__timer {
  margin: 20px 0;
  display: flex;
  padding: 0 30px;
  font-size: 20px;
  background-color: white;
  border: 3px solid black;
  font-weight: 800;
}

.game__score {
  display: inline-block;
  background-color: tomato;
  border: 3px solid black;
  width: 50px;
  height: 50px;
  font-size: 32px;
  border-radius: 50%;
  color: white;
}
.game__field {
  height: 70%;
  width: 100%;
  position: relative;
}

.pop-up {
  background-color: #00000090;
  height: 150px;
  width: 400px;
  margin: auto;
  transform: translateY(-350px);
  border-radius: 20px;
}
.pop-up.hide {
  visibility: hidden;
}
.pop-up__refresh {
  font-size: 30px;
  border-radius: 10px;
  width: 55px;
  height: 55px;
  margin: 15px 0 10px;
}

.pop-up__message {
  color: white;
  display: block;
  font-size: 35px;
}

.game__timer,
.game__score {
  visibility: hidden;
}
