body {
  background-color: black;
}
.line {
  position: absolute;
  background-color: white;
}
.x {
  height: 1px;
  width: 100%;
}

.y {
  width: 1px;
  height: 100%;
}
.target {
  position: absolute;
}

.tag {
  margin: 20px;
  color: white;
  font-size: 32px;
  position: absolute;
}
